<div class="app-layout">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
     <img src="assets/logo.png" alt="Capitec Logo" />

      <!-- <h2>Insights</h2> -->
    </div>

    <nav>
      <a routerLink="/" routerLinkActive="active">Dashboard</a>
      <!-- <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
      <a routerLink="/goals" routerLinkActive="active">Spending Goals</a> -->
      <!-- <a routerLink="/settings" routerLinkActive="active">Settings</a> -->
    </nav>
  </aside>

  <!-- Main Area -->
  <div class="main">
    <header class="topbar">
      <h1>Customer Spending Dashboard</h1>
      <div class="top-actions">
   
        <div class="user">
          <span>{{ customerName || 'Guest' }}</span>
          
        </div>
      </div>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer class="bottombar">
      &copy; 2026 Capitec Bank Assessment. All rights reserved.
    </footer>
  </div>

</div>
